.ItemContainer{
  background-color: brown;
  height: 250px;
  width: 30%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  float: left;
  margin-left: 2.5%;
  overflow: hidden;
  position: relative;
}
.titleContainer{
  background-color: white;
  height: 100px;
  width: 150px;
  margin-top: 75px;
  position: absolute;
}

.titleContainer h1{
  text-align: center;
}
.titleContainerLarge h1{
  text-align: center;
}
.ItemContainerLarge{
  background-color: brown;
  height:320px;
  width: 40%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  float: left;
  margin-left: 8%;
  overflow: hidden;
  position: relative;
}

.titleContainerLarge{
  background-color: white;
  height: 100px;
  width: 150px;
  margin-top: 110px;
  position: absolute;
}

.backgorund-Image{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.ItemContainer :hover{
  cursor: pointer;
  transform: scale(1.2) ;
  transition: all 5s;
  
}

.ItemContainerLarge :hover{
  cursor: pointer;
  transform: scale(1.2) ;
  transition: all 5s;
}

.CollectionItem{
  width:20%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 4%;
  float: left;
  overflow: hidden;
  position: relative;
}

.image{
  width: 100%;
  height: 90%;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-footer{
  width:95%;
  height: 10%;
  justify-content: space-between;
  display: flex;
}
.name{
  width:87%;
}
/* .CollectionItem:hover{
  cursor: pointer;
   transform: scale(1.2) ;
  transition: all 5s;
  opacity: 0.6; 
} */

.options{
  width:90%;
  height: 100%;;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.options :hover{
  color:black;
}
.signOutoption{
  color: purple;
  width: 10%;
  height: 100%;;
  display: flex;
  align-items: center;
 background-color: aqua;
}

a{
  text-decoration: none;
  font-size: 20px;
  margin-left: 45px;
  margin-top: 35px;
}

.SignIn{
  margin-top: 5%;
  margin-left: 10%;
  width:35%;
  float: left;
}
.inputFields{
  margin-top: 6%;
}
input{
  width:80%;
  height:20px;
}

.CustomButton{
  width: 30%;
  height: 55px;
  background-color: black;
  color: white;
  font-size: large;
  float: left;
  margin-right: 40px;
  margin-top: 6%;
}

.inputButton{
  margin-top: 6%;
}

.inputButton :hover{
  background-color: white;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  opacity: 0.6;
}

.CustomButtonGoogle{
  width: 30%;
  height: 55px;
  background-color: lightseagreen;
  color: white;
  font-size: large;
  float: left;
  /* margin-right: 45px; */
  margin-top: 6%;
}

.SignUp{
  margin-top: 5%;
  margin-left: 10%;
  width:35%;
  float: left;
}


.shopping-icon{
  margin-left: 50px;
  margin-top: 45px;
  height: 30px;
  width: 30px;
}
.Cart-icon{
  cursor: pointer;
}

.cart-dropDown{
  position: absolute;
  width:240px;
  height: 340px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  top: 80px;
  right: 0;
  margin-right: 25px;
  /* overflow: scroll; */
}
.cart-item{
  height: 240px;
  width: auto;
}

.cart-btn{
  width: 100%;
  height: 55px;
  background-color: black;
  color: white;
  font-size: large;
  float: left;
  margin-right: 40px;
  margin-top: 6%;
  cursor: pointer;
}
.cart-div :hover{
  background-color: white;
  color: black;
  opacity: 0.8;
}

.Add-cart-btn{
  width: 80%;
  height: 55px;
  background-color:rgb(253, 253, 253);
  color: black;
  font-size: large;
  margin-top: 80%;
  cursor: pointer;
  margin-left: 30px;
}

